{:backend {
   :plugin :redis
   :subtype :db
   :db {
     :redis {
       :host "localhost"
       :port 6389}}}
  :httpd {
   :api {
     :version "v1.0"
     :vendor "hexagram30"}
   :default-content-type "json"
   :port 3084 ; (reduce + (map int "The Hexagram30 Language HTTP Server"))
   :docs "resources/public/docs"
   :assets "resources/public/assets"
   :index-dirs #{}
   :skip-static #{}
   :streaming {
     :timeout 20000 ; milliseconds 20 seconds * 1000
     :heartbeat 200 ; milliseconds
     }
   :route-fns {
     :api hxgm30.language.app.routes.rest.core/all
     :site hxgm30.language.app.routes.site/all}}
 :lang {
   :generator {
     :default-mode :markov}}
 :logging {
   :level :debug
   :nss [hxgm30]
   :color true}
 :rng {
   :algorithm :non-blocking
   :seed-bytes 1024}}
